<div class="mmia-form">
    <table class="border-all-bold head-section" cellpadding="0" cellspacing="0">
        <tr>
            <td rowspan="3" class="background-black banner-text">
                <div class="width-28 banner-text">
                    <div class="text-nowrap">CMAM - Modelo 01</div>
                </div>
            </td>
            <td class=" col-1">
                <span style="float: left" class="view-table-logo"></span>

            </td>
            <td class="col-4">
                <h6>REPUBLICA DE MOCAMBIQUE</h6>
                <h6>MINISTERIO DA SAUDE</h6>
                <h6>CENTRAL DE MEDICAMENTOS E ARTIGOS MEDICOS</h6>
            </td>
            <td class=" col-5 align-center">
                <h5>MMIA</h5>
                <h5>MAPA MENSAL DE INFORMACAO ARV</h5>
            </td>
            <td class=" col-2">
                &nbsp;
                <span openlmis-message="view.rnr.mmia.month"></span>
                <span> : </span> {{month}}
            </td>
        </tr>

        <tr>
            <td colspan="3">
                <span openlmis-message="view.rnr.healthFacility"></span>
                <span>: {{rnr.facility.name}}</span>
            </td>
            <td rowspan="2">
                &nbsp;
                <span openlmis-message="view.rnr.mmia.year"></span>
                <span>: {{year}}</span>
            </td>
        </tr>

        <tr class="">
            <td colspan="2"><span openlmis-message="view.rnr.district"></span>: {{rnr.facility.geographicZone.name}}</td>
            <td><span openlmis-message="view.rnr.province"></span>:{{rnr.facility.geographicZone.parent.name}}</td>
        </tr>
    </table>
    <div class="separate"></div>
    <table class="second-section">
        <thead>
        <tr>
            <th class="banner-text"></th>
            <th class="border-bottom-bold" openlmis-message="view.rnr.fnm"></th>
            <th class="col-4" openlmis-message="view.rnr.mmia.medicine"></th>
            <th openlmis-message="view.rnr.mmia.issuedUnit"></th>
            <th openlmis-message="view.rnr.mmia.initialAmount"></th>
            <th openlmis-message="view.rnr.mmia.entries"></th>
            <th openlmis-message="view.rnr.mmia.issues"></th>
            <th openlmis-message="view.rnr.mmia.adjustments"></th>
            <th openlmis-message="view.rnr.mmia.inventory"></th>
            <th openlmis-message="view.rnr.mmia.validate"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in rnrLineItems">
            <td class="banner-text">{{$index+1}}</td>
            <td ng-if="item.categoryName === 'Adult' && rnr.reportType === 'new'" class="bg-color-green" style="min-width: 20px" width="76px">
                <svg width="76" height="20" id="barcode{{item.productCode===undefined? '': item.productCode }}">{{generateBarcode({productCode:item.productCode===undefined? '': item.productCode, productType: 'Adult'})}}</svg>
            </td>
            <td ng-if="item.categoryName === 'Adult' && rnr.reportType === 'old'" class="product-code bg-color-green">{{item.productCode===undefined? '': '*'+item.productCode+'*'}}</td>

            <td ng-if="item.categoryName === 'Adult'" class="bg-color-green align-left">{{item.productPrimaryName}}</td>


            <td ng-if="item.categoryName === 'Children' && rnr.reportType === 'new'" class="bg-color-lightyellow">
                <svg  width="76" height="20" id="barcode{{item.productCode===undefined? '': item.productCode }}">{{generateBarcode({productCode:item.productCode===undefined? '': item.productCode, productType: 'Children'})}}</svg>
            </td>
            <td ng-if="item.categoryName === 'Children' && rnr.reportType === 'old'" class="product-code bg-color-lightyellow">{{item.productCode===undefined? '': '*'+item.productCode+'*'}}</td>

            <td ng-if="item.categoryName === 'Children'" class="bg-color-lightyellow align-left">{{item.productPrimaryName}}</td>


            <td ng-if="item.categoryName === 'Solution' && rnr.reportType === 'new'" class="bg-color-lightblue">
                <svg width="76" height="20" id="barcode{{item.productCode===undefined? '': item.productCode }}">{{generateBarcode({productCode:item.productCode===undefined? '': item.productCode, productType: 'Solution'})}}</svg>
            </td>
            <td ng-if="item.categoryName === 'Solution' && rnr.reportType === 'old'" class="product-code bg-color-lightblue">{{item.productCode===undefined? '': '*'+item.productCode+'*'}}</td>
            <td ng-if="item.categoryName === 'Solution'" class="bg-color-lightblue align-left">{{item.productPrimaryName}}</td>

            <td>{{item.productStrength}}</td>
            <td>{{item.beginningBalance}}</td>
            <td>{{item.quantityReceived}}</td>
            <td>{{item.quantityDispensed}}</td>
            <td>{{item.totalLossesAndAdjustments}}</td>
            <td>{{item.stockInHand}}</td>
            <td><span ng-show="item.expirationDate">{{item.expirationDate}}</span></td>
        </tr>

        </tbody>
    </table>
    <div class="separate"></div>
    <div class="page-break"></div>
    <div class="middle-section">
        <table class="regime-form">
                <thead>
                <tr>
                    <th class="banner-text"></th>
                    <th ng-if="rnr.reportType === 'old'" openlmis-message="view.rnr.mmia.regime.code"></th>
                    <th ng-if="rnr.reportType === 'old'" class="col-4" openlmis-message="view.rnr.mmia.regime.therapeutic"></th>
                    <th ng-if="rnr.reportType === 'new'" class="col-4" openlmis-message="view.rnr.mmia.regime.therapeutic" colspan="2"></th>
                    <th openlmis-message="view.rnr.mmia.regime.column.total"></th>
                    <th ng-if="rnr.reportType === 'new'" openlmis-message="view.rnr.mmia.regime.pharmacy"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-if="rnr.reportType === 'old'" ng-repeat="item in regimens">
                    <td class="banner-text">{{$index+1}}</td>

                    <td ng-if="item.categoryName === 'Adults'" class="bg-color-green"></td>
                    <td ng-if="item.categoryName === 'Adults'" class="bg-color-green align-left">{{item.name}}</td>

                    <td ng-if="item.categoryName === 'Paediatrics'" class="bg-color-yellow"></td>
                    <td ng-if="item.categoryName === 'Paediatrics'" class="bg-color-yellow align-left">{{item.name}}</td>

                    <td>{{item.patientsOnTreatment}}</td>
                    <td ng-if="rnr.reportType === 'new'" >{{item.comunitaryPharmacy}}</td>
                </tr>
                <tr ng-if="rnr.reportType === 'new'" ng-repeat-start="(key, val) in regimens" width="50px" height="50px">
                    <td class="banner-text">{{1}}</td>
                    <td ng-if="key==='Adults'" class="bg-color-green" style="max-width: 50px" rowspan="{{val.length}}">
                        <div ng-if="key==='Adults'" class="text-nowrap"><span>Adultos & Adolescentes</span></div>
                    </td>
                    <td ng-if="key==='Paediatrics'" class="bg-color-yellow rowspan" style="max-width: 50px" rowspan="{{val.length}}">
                        <div class="text-nowrap"><span>Paediatrics</span></div>
                    </td>
                    <td ng-if="val[0].categoryName==='Adults'" class="bg-color-green align-left" >{{val[0].name}}</td>
                    <td ng-if="val[0].categoryName==='Paediatrics'" class="bg-color-yellow align-left" >{{val[0].name}}</td>
                    <td>{{val[0].patientsOnTreatment}}</td>
                    <td ng-if="rnr.reportType === 'new'">{{val[0].comunitaryPharmacy}}</td>
                </tr>
                <tr ng-if="rnr.reportType === 'new'" ng-repeat-end ng-repeat="value in val.slice(1)">
                    <td class="banner-text">{{$index+2}}</td>
                    <td ng-if="value.categoryName==='Paediatrics'" class="bg-color-yellow align-left" >{{value.name}} </td>
                    <td ng-if="value.categoryName==='Adults'" class="bg-color-green align-left" >{{value.name}} </td>
                    <td>{{value.patientsOnTreatment}}</td>
                    <td ng-if="rnr.reportType === 'new'" >{{value.comunitaryPharmacy}}</td>
                </tr>
                <tr>
                    <td class="banner-text blank-cell no-border"></td>
                    <td class="no-border"></td>
                    <td class="col-2 bg-color-darkgray">
                        <span openlmis-message="view.rnr.mmia.regime.total"></span>
                        <span> :</span>
                    </td>
                    <td>{{regimeTotalPatients}}</td>
                    <td ng-if="rnr.reportType === 'new'">{{regimeTotalComunitaryPharmacy}}</td>
                </tr>
                <tr ng-if="rnr.reportType === 'new'" class="therapeutic-lines">
                    <td class="banner-text"></td>
                    <td></td>
                    <td openlmis-message="view.rnr.mmia.regime.therapeutic.line"></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr ng-repeat="item in therapeuticLines">
                    <td class="banner-text">{{$index+1}}</td>
                    <td class="no-border therapeutic-item"></td>
                    <td class="no-border therapeutic-item" openlmis-message="{{item.code}}"></td>
                    <td>{{item.patientsOnTreatment}}</td>
                    <td>{{item.comunitaryPharmacy}}</td>
                </tr>
                <tr ng-if="rnr.reportType === 'new'">
                    <td class="banner-text blank-cell no-border"></td>
                    <td class="no-border"></td>
                    <td class="col-2 bg-color-darkgray">
                        <span openlmis-message="view.rnr.mmia.regime.total"></span>
                        <span> :</span>
                    </td>
                    <td>{{therapeuticLinesTotalPatients}}</td>
                    <td>{{therapeuticLinesTotalComunitaryPharmacy}}</td>
                </tr>
                </tbody>
        </table>
        <div class="patient-section">

            <table ng-if="rnr.reportType === 'new' && rnr.patientQuantifications['view.rnr.mmia.patient.header.patientsType']" class="patient-form">
                <thead>
                <tr>
                    <th colspan="2" class="background-black" openlmis-message="view.rnr.mmia.patient.header.patientsType"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in rnr.patientQuantifications['view.rnr.mmia.patient.header.patientsType']">
                    <td openlmis-message={{item.messageName}}></td>
                    <td>{{item.total}}</td>
                </tr>
                </tbody>
            </table>
            <table ng-if="rnr.reportType === 'new' && rnr.patientQuantifications['view.rnr.mmia.patient.header.md']" class="patient-form">
                <thead>
                <tr>
                    <th colspan="2" class="background-black" openlmis-message="view.rnr.mmia.patient.header.md"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in rnr.patientQuantifications['view.rnr.mmia.patient.header.md']">
                    <td openlmis-message={{item.messageName}}></td>
                    <td>{{item.total}}</td>
                </tr>
                </tbody>
            </table>
            <table ng-if="rnr.reportType === 'new' && rnr.patientQuantifications['view.rnr.mmia.patient.header.TARVPatients']" class="patient-form">
                <thead>
                <tr>
                    <th colspan="2" class="background-black" openlmis-message="view.rnr.mmia.patient.header.TARVPatients"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in rnr.patientQuantifications['view.rnr.mmia.patient.header.TARVPatients']">
                    <td openlmis-message={{item.messageName}}></td>
                    <td>{{item.total}}</td>
                </tr>
                </tbody>
            </table>
            <table ng-if="rnr.reportType === 'new' && rnr.patientQuantifications['view.rnr.mmia.patient.header.prophylaxis']" class="patient-form">
                <thead>
                <tr>
                    <th colspan="2" class="background-black" openlmis-message="view.rnr.mmia.patient.header.prophylaxis"></th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in rnr.patientQuantifications['view.rnr.mmia.patient.header.prophylaxis']">
                    <td openlmis-message={{item.messageName}}></td>
                    <td>{{item.total}}</td>
                </tr>
                </tbody>
            </table>

            <table ng-if="rnr.reportType === 'old'" class="patient-form">
                <thread>
                    <tr>
                        <th colspan="2" class="background-black" openlmis-message="view.rnr.mmia.patient.header"></th>
                    </tr>
                    <tr>
                        <th class="col-2" openlmis-message="view.rnr.mmia.patient.type"></th>
                        <th class="col-3" openlmis-message="view.rnr.mmia.patient.title.total"></th>
                    </tr>
                </thread>
                <tbody>
                    <tr ng-repeat="item in rnr.patientQuantifications">
                        <td openlmis-message={{item.category}}></td>
                        <td>{{item.total}}</td>
                    </tr>
                </tbody>

            </table>

            <div class="comment-wrapper">
                <table class="background class=col-5 ">
                    <tr >
                        <td></td>
                    </tr>
                    <tr>
                        <td class="col-5"></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
                <div class="comment">
                    <span openlmis-message="view.rnr.mmia.comments"></span>
                    <span> : </span>
                    {{rnr.clientSubmittedNotes}}
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-section">
        <table>
            <tr>
                <td>
                    <span openlmis-message="view.rnr.mmia.createBy"></span>
                    <span> : {{submitterSignature}}</span>
                </td>
                <td>
                    <span openlmis-message="view.rnr.mmia.vistor"></span>
                    <span> : {{approverSignature}}</span>
                </td>
                <td>
                    <span openlmis-message="view.rnr.mmia.dateOfCreate"></span>
                    <span> : </span>
                </td>
            </tr>
        </table>

        <div>Nota: Mapa de Preenchimento Obrigatório Mensal HdD em Conjunto com a Farmácia da Unidade Sanitária/ ou DPM
        </div>
        <div ng-if="rnr.reportType === 'new'">Versão nº 9 21 Fev2020 TLD90 DS</div>
        <div ng-if="rnr.reportType === 'old'">Versão no 5 14Nov 2012</div>
    </div>

    <div class="align-right">
        <button class="btn btn-primary btn-download btn-download-pdf" ng-click="downloadPdf()" openlmis-message="view.rnr.mmia.download.button"></button>
    </div>

    <div class="align-right">
        <button class="btn btn-primary btn-download btn-download-simam" ng-click="downloadSimam()" openlmis-message="view.rnr.download.simam.button"></button>
    </div>
</div>

